<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head_tag">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" th:include="index :: toolbar">
</div>

<div class="container">

    <form th:action="@{/book}">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" name="q" class="form-control input-search"/>
                    <span class="input-group-btn">
                      <button class="btn btn-search" type="submit">Search<i
                              class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td></td>
            <td style="color: grey">Publisher</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td>
                <strong> <a th:href="@{/book/{id} (id=${book.id})}" th:text="${book.title}"></a> </strong><br/>
                <small>By:</small>
                <em> <span th:each="author,iterStat : ${book.authors}">
					<a th:href="@{/book?author={author} (author=${author})}" th:text="${author}"></a> <th:block
                        th:if="${!iterStat.last}">,</th:block>
                      </span>
                </em>
            </td>
            <td><a th:href="@{/book?publisher={pub} (pub=${book.publisher})}" th:text="${book.publisher}"></a></td>
            <td>
                <form method="POST" th:action="@{/demand}">
                    <button class="btn btn-primary" type="submit" name="bookid" th:value="${book.id}">Add to Demands
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div> <!-- /container -->

</body>
</html>
