<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head_tag">
    <meta charset="utf-8"/>
    <title th:text="#{index.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Crossover"/>

    <!-- Le styles -->
    <link href="../static/css/bootstrap.min2.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap-theme.min.css}"/>
    <link href="../static/css/app.css" rel="stylesheet"
          th:href="@{/css/app.css}"/>
    <link rel="shortcut icon" href="../assets/ico/favicon.png"/>

    <script src="../static/js/jquery.js"
            th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

    <style>
        body {
            padding-top: 80px;
        }

    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="toolbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:text="#{app_name}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:text="#{pages.home}"></a></li>
                <li><a href="/demand" th:text="#{pages.my_demands}"></a></li>
             <!--   <li><a href="/account">My Account</a></li> -->

            </ul>

                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display:inline" >
                    <button class="btn btn-default " type="submit">Logout</button>
                </form>

            <form class="navbar-form navbar-right" th:action="@{/book}">
                <div class="form-group">
                    <input type="text" name="q" placeholder="Search books" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default" th:text="#{books.search}"></button>
            </form>

        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    <h1 th:text="#{index.welcome}"> </h1>

    <form th:action="@{/book}">
        <div class="row">
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" name="q" class="form-control input-search" th:placeholder="#{books.search_hint}"/>
                    <span class="input-group-btn">
                      <button class="btn btn-search" type="submit" th:text="#{books.search}"><i
                              class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>


</div> <!-- /container -->



</body>
</html>
